In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df1 = pd.read_csv(r"weather_forecast.csv")
df2 = pd.read_csv("solar_observed.csv")

display(df1.head())
display(df2.head())

print(df1.isnull().sum())
print('\n')
print(df2.isnull().sum())

,timestamp,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,sky_cover,precip_prob
0,2008-04-15 16:00:00-04:00,10.0,-2.6,41.0,24.1,NaN,0.0
1,2008-04-15 17:00:00-04:00,9.4,-2.9,42.0,27.7,NaN,0.0
2,2008-04-15 18:00:00-04:00,9.4,-0.5,50.0,18.4,NaN,0.0
3,2008-04-15 19:00:00-04:00,8.3,-0.5,54.0,14.8,NaN,0.0
4,2008-04-15 20:00:00-04:00,8.9,-1.0,50.0,13.0,NaN,0.0

    timestamp                 Local_Time     Solar
0  1208275200  2008-04-15 10:00:00-06:00  6.410331
1  1208278800  2008-04-15 11:00:00-06:00  7.954541
2  1208282400  2008-04-15 12:00:00-06:00  7.946997
3  1208286000  2008-04-15 13:00:00-06:00  8.299924
4  1208289600  2008-04-15 14:00:00-06:00  7.818442

timestamp                0
temperature_C            1
dew_point_C              1
relative_humidity        1
wind_speed_m_s           1
sky_cover            61329
precip_prob            886
dtype: int64


timestamp     0
Local_Time    0
Solar         2
dtype: int64

In [2]:
print(df1.shape)

print(df2.shape)

(61329, 7)
(41915, 3)

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61329 entries, 0 to 61328
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   timestamp          61329 non-null  object
 1   temperature_C      61328 non-null  float64
 2   dew_point_C        61328 non-null  float64
 3   relative_humidity  61328 non-null  float64
 4   wind_speed_m_s     61328 non-null  float64
 5   sky_cover          0 non-null      float64
 6   precip_prob        60443 non-null  float64
dtypes: float64(6), object(1)
memory usage: 3.3+ MB

In [4]:
df1.drop(columns = ['sky_cover'], inplace=True)

In [5]:
df1.head()

,timestamp,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,precip_prob
0,2008-04-15 16:00:00-04:00,10.0,-2.6,41.0,24.1,0.0
1,2008-04-15 17:00:00-04:00,9.4,-2.9,42.0,27.7,0.0
2,2008-04-15 18:00:00-04:00,9.4,-0.5,50.0,18.4,0.0
3,2008-04-15 19:00:00-04:00,8.3,-0.5,54.0,14.8,0.0
4,2008-04-15 20:00:00-04:00,8.9,-1.0,50.0,13.0,0.0

In [6]:
df1.describe()

,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,precip_prob
count,61328.000000,61328.000000,61328.000000,61328.000000,60443.000000
mean,11.125693,4.170866,65.082344,17.103864,0.136280
std,9.926220,10.734709,19.455243,8.752809,0.749302
min,-19.400000,-28.200000,10.000000,0.000000,0.000000
25%,3.300000,-3.400000,50.000000,11.200000,0.000000
50%,11.700000,5.000000,66.000000,16.600000,0.000000
75%,18.900000,13.200000,82.000000,22.300000,0.000000
max,38.900000,24.500000,100.000000,72.400000,38.400000

In [7]:
for col in ['precip_prob', 'temperature_C', 'dew_point_C', 'relative_humidity', 'wind_speed_m_s']:
    df1[col] = df1[col].fillna(df1[col].mean())
df1.isnull().sum()

timestamp            0
temperature_C        0
dew_point_C          0
relative_humidity    0
wind_speed_m_s       0
precip_prob          0
dtype: int64

In [8]:
df1.describe()

,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,precip_prob
count,61329.000000,61329.000000,61329.000000,61329.000000,61329.00000
mean,11.125693,4.170866,65.082344,17.103864,0.13628
std,9.926139,10.734621,19.455084,8.752738,0.74387
min,-19.400000,-28.200000,10.000000,0.000000,0.00000
25%,3.300000,-3.400000,50.000000,11.200000,0.00000
50%,11.700000,5.000000,66.000000,16.600000,0.00000
75%,18.900000,13.200000,82.000000,22.300000,0.00000
max,38.900000,24.500000,100.000000,72.400000,38.40000

In [9]:
df2.isnull().sum()

timestamp     0
Local_Time    0
Solar         2
dtype: int64

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41915 entries, 0 to 41914
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   41915 non-null  object
 1   Local_Time  41915 non-null  object
 2   Solar       41913 non-null  float64
dtypes: float64(1), object(2)
memory usage: 982.5+ KB

In [11]:
df2['Solar'] = df2['Solar'].fillna(df2['Solar'].mean())

df2.drop('timestamp', axis=1, inplace=True)
print(df2.isna().sum())

Local_Time    0
Solar         0
dtype: int64

In [12]:
# renamiong the column name of df2 from local time to timestamp

df2 = df2.rename(columns={'Local_Time':'timestamp'})
df2.head()

                   timestamp     Solar
0  2008-04-15 10:00:00-06:00  6.410331
1  2008-04-15 11:00:00-06:00  7.954541
2  2008-04-15 12:00:00-06:00  7.946997
3  2008-04-15 13:00:00-06:00  8.299924
4  2008-04-15 14:00:00-06:00  7.818442

In [13]:
df1['timestamp'] = pd.to_datetime(df1['timestamp'], errors='coerce', utc=True)
df2['timestamp'] = pd.to_datetime(df2['timestamp'], errors='coerce', utc=True)

display(df1.head(10))
display(df2.head(10))

,timestamp,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,precip_prob
0,2008-04-15 20:00:00+00:00,10.0,-2.6,41.0,24.1,0.0
1,2008-04-15 21:00:00+00:00,9.4,-2.9,42.0,27.7,0.0
2,2008-04-15 22:00:00+00:00,9.4,-0.5,50.0,18.4,0.0
3,2008-04-15 23:00:00+00:00,8.3,-0.5,54.0,14.8,0.0
4,2008-04-16 00:00:00+00:00,8.9,-1.0,50.0,13.0,0.0
5,2008-04-16 01:00:00+00:00,8.9,-2.7,44.0,16.6,0.0
6,2008-04-16 02:00:00+00:00,8.3,-3.2,44.0,9.4,0.0
7,2008-04-16 03:00:00+00:00,8.3,-5.5,37.0,14.8,0.0
8,2008-04-16 04:00:00+00:00,6.7,-4.4,45.0,14.8,0.0
9,2008-04-16 05:00:00+00:00,6.1,-4.4,47.0,11.2,0.0

                  timestamp     Solar
0 2008-04-15 16:00:00+00:00  6.410331
1 2008-04-15 17:00:00+00:00  7.954541
2 2008-04-15 18:00:00+00:00  7.946997
3 2008-04-15 19:00:00+00:00  8.299924
4 2008-04-15 20:00:00+00:00  7.818442
5 2008-04-15 21:00:00+00:00  7.065631
6 2008-04-15 22:00:00+00:00  5.749757
7 2008-04-15 23:00:00+00:00  3.749633
8 2008-04-16 00:00:00+00:00  1.109316
9 2008-04-16 01:00:00+00:00  0.024375

In [14]:
print(df1.isnull().sum())
print(df2.isnull().sum())

timestamp            1
temperature_C        0
dew_point_C          0
relative_humidity    0
wind_speed_m_s       0
precip_prob          0
dtype: int64
timestamp    1
Solar        0
dtype: int64

In [15]:
df1 = df1.dropna(subset=['timestamp'])
df2 = df2.dropna(subset=['timestamp'])

In [16]:
print(df1.isnull().sum())
print(df2.isnull().sum())

timestamp            0
temperature_C        0
dew_point_C          0
relative_humidity    0
wind_speed_m_s       0
precip_prob          0
dtype: int64
timestamp    0
Solar        0
dtype: int64

In [17]:
df = pd.merge(df1, df2, on='timestamp', how='inner')
df.head()

,timestamp,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,precip_prob,Solar
0,2008-04-15 20:00:00+00:00,10.0,-2.6,41.0,24.1,0.0,7.818442
1,2008-04-15 21:00:00+00:00,9.4,-2.9,42.0,27.7,0.0,7.065631
2,2008-04-15 22:00:00+00:00,9.4,-0.5,50.0,18.4,0.0,5.749757
3,2008-04-15 23:00:00+00:00,8.3,-0.5,54.0,14.8,0.0,3.749633
4,2008-04-16 00:00:00+00:00,8.9,-1.0,50.0,13.0,0.0,1.109316

In [18]:
df.shape

(40138, 7)

In [19]:
df.describe()

,temperature_C,dew_point_C,relative_humidity,wind_speed_m_s,precip_prob,Solar
count,40138.000000,40138.000000,40138.000000,40138.00000,40138.000000,40138.000000
mean,11.156642,4.156089,64.938562,17.15067,0.141182,1.462559
std,10.155248,10.883621,19.560020,8.68666,0.761693,2.302736
min,-19.400000,-27.800000,12.000000,0.00000,0.000000,-0.035598
25%,3.300000,-3.400000,50.000000,11.20000,0.000000,-0.012100
50%,11.700000,5.100000,66.000000,16.60000,0.000000,-0.001674
75%,19.400000,13.200000,82.000000,22.30000,0.000000,2.456018
max,37.200000,24.500000,100.000000,70.60000,38.400000,8.964324

In [20]:
df.isnull().sum()

timestamp            0
temperature_C        0
dew_point_C          0
relative_humidity    0
wind_speed_m_s       0
precip_prob          0
Solar                0
dtype: int64

In [21]:
df['hour'] = df['timestamp'].dt.hour
df['dayofyear'] = df['timestamp'].dt.dayofyear

In [22]:
X = df.drop(columns=['timestamp', 'Solar'])
y = df['Solar']

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test, timestamp_train, timestamp_test = train_test_split(X, y, df['timestamp'].values, test_size=0.2, random_state=42, shuffle=False)

In [24]:
from sklearn.preprocessing import StandardScaler

# numeric_cols = X.select_dtypes(include=[np.number]).columns
scaler = StandardScaler()
X = scaler.fit_transform(X)
# X_test = ss.transform(X_test)

In [25]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
lr_yPred = lr.predict(X_test)

In [26]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)
rf_yPred = rf.predict(X_test)

In [30]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
# scaling all the features except target variable
# numeric_cols = X.select_dtypes(include=[np.number]).columns
# ss = StandardScaler()
# X_train = ss.fit_transform(X_train)
# X_test = ss.transform(X_test)


svr = SVR(kernel='rbf')
svr.fit(X_train, y_train)
svr_yPred = svr.predict(X_test)

In [31]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def eval_model(model, y_true, y_pred):
    # Evaluation metrics
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    r2 = r2_score(y_true, y_pred)
    print(f"Model: {model} - MAE: {round(mae,2)}, RMSE:{round(rmse,2)}, R2 Score: {round(r2, 2)}")
    # return mae, rmse

In [32]:
eval_model("Linear Regression", y_test, lr_yPred)
eval_model("SVR              ", y_test, svr_yPred)
eval_model("Random Forest    ", y_test, rf_yPred)

Model: Linear Regression - MAE: 1.22, RMSE:1.6, R2 Score: 0.43
Model: SVR               - MAE: 1.02, RMSE:1.66, R2 Score: 0.39
Model: Random Forest     - MAE: 0.62, RMSE:1.23, R2 Score: 0.66