In [4]:
import pandas as pd

da = pd.read_csv("Lab2 D1A.csv")
db = pd.read_csv("Lab2 D1B.csv")
dc = pd.read_csv("Lab2 D1C.csv")

print(da.head())
print(db.head())
print(dc.head())

    fid                                        name  population     county  \
0  9001               NEW ENGLAND CHRISTIAN ACADEMY         136    BRISTOL
1  9002                     SETON ACADEMY FOR GIRLS          57    BRISTOL
2  9003                              ST ANNA SCHOOL         157  WORCESTER
3  9004  SOUTHEAST ALTERNATIVE SCHOOL-MIDDLE SCHOOL           5   PLYMOUTH
4  9005                             DEVEREUX SCHOOL         123  WORCESTER

    latitude
0  41.758597
1  41.718407
2  42.517271
3  41.818210
4  42.383875
                                         name  population     county  \
0               NEW ENGLAND CHRISTIAN ACADEMY         136    BRISTOL
1                     SETON ACADEMY FOR GIRLS          57    BRISTOL
2                              ST ANNA SCHOOL         157  WORCESTER
3  SOUTHEAST ALTERNATIVE SCHOOL-MIDDLE SCHOOL           5   PLYMOUTH
4                             DEVEREUX SCHOOL         123  WORCESTER

   longitude                              level  enrollment  \
0 -71.175801  Combined elementary and secondary         120
1 -71.147302                         Elementary          49
2 -71.751741                         Elementary         143
3 -71.083393                         Elementary           4
4 -71.968419  Combined elementary and secondary         107

                             level.1
0  Combined elementary and secondary
1                         Elementary
2                         Elementary
3                         Elementary
4  Combined elementary and secondary
      county        city  score
0    BRISTOL     SWANSEA     16
1    BRISTOL  FALL RIVER      8
2  WORCESTER  LEOMINSTER     14
3   PLYMOUTH  MIDDLEBORO      1
4  WORCESTER     RUTLAND     16

In [6]:
comboAB = pd.concat([da, db], axis=1)
comboAB = comboAB.loc[:, ~comboAB.columns.duplicated()]
print(comboAB)
print('Shape  ', comboAB.shape)

         fid                                        name  population  \
0       9001               NEW ENGLAND CHRISTIAN ACADEMY         136
1       9002                     SETON ACADEMY FOR GIRLS          57
2       9003                              ST ANNA SCHOOL         157
3       9004  SOUTHEAST ALTERNATIVE SCHOOL-MIDDLE SCHOOL           5
4       9005                             DEVEREUX SCHOOL         123
...      ...                                         ...         ...
26978  20996                         MOST PRECIOUS BLOOD          33
26979  20997                               STARR ACADEMY          29
26980  20998                   ST JOHN'S LUTHERAN SCHOOL          24
26981  20999                     FAITH CHRISTIAN ACADEMY          13
26982  21000                           SHADY PINE SCHOOL          17

          county   latitude  longitude                              level  \
0        BRISTOL  41.758597 -71.175801  Combined elementary and secondary
1        BRISTOL  41.718407 -71.147302                         Elementary
2      WORCESTER  42.517271 -71.751741                         Elementary
3       PLYMOUTH  41.818210 -71.083393                         Elementary
4      WORCESTER  42.383875 -71.968419  Combined elementary and secondary
...          ...        ...        ...                                ...
26978    WAUPACA  44.386281 -88.739200                         Elementary
26979    WAUPACA  44.308621 -88.848294                          Secondary
26980   WAUSHARA  44.202182 -88.886093                         Elementary
26981   WAUSHARA  44.074503 -89.294984                         Elementary
26982   WAUSHARA  44.014975 -89.377692                         Elementary

       enrollment                            level.1
0             120  Combined elementary and secondary
1              49                         Elementary
2             143                         Elementary
3               4                         Elementary
4             107  Combined elementary and secondary
...           ...                                ...
26978          28                         Elementary
26979          21                          Secondary
26980          22                         Elementary
26981          11                         Elementary
26982          16                         Elementary

[26983 rows x 9 columns]
Shape   (26983, 9)

In [21]:
comboAC = pd.merge(da, dc, on='county')


print(comboAC)
print('Shape  ', comboAC.shape)

           fid                           name  population    county  \
0         9001  NEW ENGLAND CHRISTIAN ACADEMY         136   BRISTOL
1         9001  NEW ENGLAND CHRISTIAN ACADEMY         136   BRISTOL
2         9001  NEW ENGLAND CHRISTIAN ACADEMY         136   BRISTOL
3         9001  NEW ENGLAND CHRISTIAN ACADEMY         136   BRISTOL
4         9001  NEW ENGLAND CHRISTIAN ACADEMY         136   BRISTOL
...        ...                            ...         ...       ...
4221328  21000              SHADY PINE SCHOOL          17  WAUSHARA
4221329  21000              SHADY PINE SCHOOL          17  WAUSHARA
4221330  21000              SHADY PINE SCHOOL          17  WAUSHARA
4221331  21000              SHADY PINE SCHOOL          17  WAUSHARA
4221332  21000              SHADY PINE SCHOOL          17  WAUSHARA

          latitude         city  score
0        41.758597      SWANSEA     16
1        41.758597   FALL RIVER      8
2        41.758597  NEW BEDFORD      8
3        41.758597    MANSFIELD     14
4        41.758597    ATTLEBORO      5
...            ...          ...    ...
4221328  44.014975     NESHKORO      3
4221329  44.014975    WEYAUWEGA      3
4221330  44.014975      FREMONT      2
4221331  44.014975      WAUTOMA      2
4221332  44.014975      WAUTOMA      1

[4221333 rows x 7 columns]
Shape   (4221333, 7)