In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub
import os
# Download latest version
path = kagglehub.dataset_download("himanshunakrani/iris-dataset")

print("Path to dataset files:", path)
print(os.listdir(path))

df = pd.read_csv(r"C:\Users\azama\.cache\kagglehub\datasets\himanshunakrani\iris-dataset\versions\1\iris.csv")

df.head()

Path to dataset files: C:\Users\azama\.cache\kagglehub\datasets\himanshunakrani\iris-dataset\versions\1
['iris.csv']

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [31]:
print(df.info())
print(df.describe())
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X = df.drop('species', axis=1)
y = df['species']

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)

# scaler features
scaler = StandardScaler()
Xtrain = scaler.fit_transform(Xtrain)
Xtest = scaler.fit_transform(Xtest)


solvers = ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga']
results = []

for solver in solvers:
    model = LogisticRegression(solver=solver, max_iter=5000, multi_class='auto')
    model.fit(Xtrain, ytrain)
    train_acc = accuracy_score(ytrain, model.predict(Xtrain))
    test_acc = accuracy_score(ytest, model.predict(Xtest))
    results.append({'Solver': solver, 'Training Accuracy': train_acc, 'Testing Accuracy': test_acc , 'Diff': abs(round(train_acc - test_acc, 3))})

results = pd.DataFrame(results)
print(results)

            Solver  Training Accuracy  Testing Accuracy   Diff
0            lbfgs           0.966667          0.966667  0.000
1        liblinear           0.891667          0.933333  0.042
2        newton-cg           0.966667          0.966667  0.000
3  newton-cholesky           0.933333          1.000000  0.067
4              sag           0.966667          0.966667  0.000
5             saga           0.966667          0.966667  0.000

In [33]:
# Effect of solvers
# the IRIS dataset is small so couldnt find the actuall difference between all of them
# liblinear is for small dataset
# lbfgs, newton-cg and newton-cholesky for medium dataset
# sag, saga for large dataset

In [34]:
### HEART DISEASE DATASET
import os
# Download latest version
path = kagglehub.dataset_download("johnsmith88/heart-disease-dataset")

print("Path to dataset files:", path)
os.listdir(path)

df = pd.read_csv(r"C:\Users\azama\.cache\kagglehub\datasets\johnsmith88\heart-disease-dataset\versions\2\heart.csv")

display(df.head())
print(df.isna().sum())
print(df.shape)

Path to dataset files: C:\Users\azama\.cache\kagglehub\datasets\johnsmith88\heart-disease-dataset\versions\2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64
(1025, 14)

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X = df.drop('target', axis=1)
y = df['target']

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=42)

# scaler features
scaler = StandardScaler()
Xtrain = scaler.fit_transform(Xtrain)
Xtest = scaler.transform(Xtest)


solvers = ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga']
results = []

for solver in solvers:
    model = LogisticRegression(solver=solver, max_iter=5000, multi_class='auto')
    model.fit(Xtrain, ytrain)
    train_acc = accuracy_score(ytrain, model.predict(Xtrain))
    test_acc = accuracy_score(ytest, model.predict(Xtest))
    results.append({'Solver': solver, 'Training Accuracy': train_acc, 'Testing Accuracy': test_acc , 'Diff': abs(round(train_acc - test_acc, 3))})

results = pd.DataFrame(results)
print(results)

            Solver  Training Accuracy  Testing Accuracy   Diff
0            lbfgs           0.871951          0.795122  0.077
1        liblinear           0.871951          0.795122  0.077
2        newton-cg           0.871951          0.795122  0.077
3  newton-cholesky           0.871951          0.795122  0.077
4              sag           0.871951          0.795122  0.077
5             saga           0.871951          0.795122  0.077

In [36]:
# all are working same